body{
    background: #1d1e29;  
    font-family: sans-serif;
}
#main-canvas{
    background: white;
    border: 1px solid #eee;
    display: block;
    margin: auto;
}
#debugger{
    color: white;
    position: absolute;
    top: 50px;
    left: 10px;
}
